.container{
    width: 50%;
    margin: auto;
    display: grid;
    align-content: start;
    column-gap: 10px;
    grid-template-columns: 200px 0;

}

.infoBox{
    position: relative;
    width: 200px;
    height: 640px;
    font-size: 30px;
    color: yellow;
    background-color: rebeccapurple;
}

.playableArea {
    position: relative;
    left: 0px;
    width: 800px;
    height: 640px;
    background-color: rgb(85, 97, 107);
   }






.player{
    position: absolute;
}

.wormSegment{
    position: absolute;
}

.food{
    position: absolute;
}


#howToPlay{
    margin: auto;
    width: 800px;
    font-size: 30px;
}